# Eclipse
.metadata/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders/

# Java
*.class

# Maven
target/

# Gradle
.gradle/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

CONSIGNA_TP3.md
trello.json